.venv/
__pycache__/
*.py[cod]
.ruff_cache/

packaging/build/
packaging/dist/
packaging/release/
packaging/*.spec
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.spec

Thumbs.db
Desktop.ini
.DS_Store

.vscode/*
!.vscode/settings.json
